<%= link_to "Sign up",  '#' %>
<%= link_to "home", root_path %>
<%= link_to 'about', about_path %>
<%= link_to 'Books', '#' %>

	<br>

	 <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>